@using HomeSHS.Components.Helpers
@using SHC.Entities
@using SHC.Entities.Door
@using SHC.Entities.Light
@using SHC.Entities.Room
@using SHC.Entities.Window
@inject IJSRuntime JsRuntime
@inject IPageRefresher PageRefresher

<body>
    <div class="container">
        <svg id="render-container"
             width="1000"
             height="1000"
             viewBox="0 0 1000 1000">
            @foreach (var r in renderRooms)
            {
                <g>
                    <rect id="@(r.Item1.Name + "-" + r.Item1.Id)"
                          height="100"
                          width="100"
                          style="fill:white; stroke:black; stroke-width:2px"
                          x="@r.Item2.x"
                          y="@r.Item2.y"
                          @onclick=@(() => SetSelectedRoom(r.Item1))></rect>
                    <text id="@(r.Item1.Name + "-" + r.Item1.Id + "-text")"
                          class="@(simulationContext.SelectedRoom.Id == r.Item1.Id ? "text-selected" : "text-regular")"
                          x="@(r.Item2.x + 12)"
                          y="@(r.Item2.y + 50)"
                          @onclick=@(() => SetSelectedRoom(r.Item1))>
                        @r.Item1.Name
                    </text>
                </g>
            }
        </svg>
    </div>
</body>


@code {
    SimulationContext simulationContext = SimulationContext.GetInstance();
    int rect1x = 0;
    int rect1y = 0;
    int rect2x = 100;
    int rect2y = 0;
    string showx = string.Empty;
    string showy = string.Empty;

    HouseAssembler houseAssembler = new HouseAssembler(); 
    House house;
    Entrance houseEntrance;
    List<(IRoom, (double x, double y))> renderRooms = new List<(IRoom, (double x, double y))>();

    protected override async Task OnInitializedAsync()
    {
        if (!simulationContext.hasRenderLoaded)
        {
            simulationContext.RenderRooms = await houseAssembler.BuildLayoutStructure();
            renderRooms = simulationContext.RenderRooms;
            simulationContext.SelectedRoom = renderRooms.FirstOrDefault().Item1;
            simulationContext.hasRenderLoaded = true;
        }
    }

    public void SetSelectedRoom(IRoom selectedRoom)
    {
        simulationContext.SelectedRoom = selectedRoom;
        PageRefresher.CallSHCTabRefreshRequested();
        PageRefresher.CallSHHTabRefreshRequested();
    }

    /*
        public async Task<(double, double)> GetPosition(string id)
        {
            string response = await JsRuntime.InvokeAsync<string>("GetRoomPosition", id);
            var result = response.Split(' ');
            var x = Double.Parse(result[0]);
            var y = Double.Parse(result[1]);

            showx = result[0];
            showy = result[1];
            return (x, y);
        }
    */
    
}
